name: Build and Test

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.7.21"

    - name: Set up Python 3.13.5
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version"

    - name: Install dependencies
      run: |
        uv sync --locked --all-extras --dev

    - name: Lint with ruff
      run: |
        uv run ruff check .

    - name: Build with uv
      run: |
        uv build

    - name: Run tests with pytest
      run: |
        export CI=true
        uv run pytest -v --cov=src --cov-report=term-missing tests/
