name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release Tag
        required: true
        default: dry-run
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  build-release:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            archive_ext: tar.gz
            asset_name: seiri-linux-amd64
          - os: macos-latest
            target: x86_64-apple-darwin
            archive_ext: tar.gz
            asset_name: seiri-macos-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            archive_ext: zip
            asset_name: seiri-windows-amd64

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@fb51252c7ba57d633bc668f941da052e410add48 # v1.13.0
      with:
        target: ${{ matrix.target }}

    - name: Install Linux dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libx11-dev libxcursor-dev libxrandr-dev \
                                libxinerama-dev libxi-dev libgl1-mesa-dev ttf-mscorefonts-installer \
                                libfreetype6-dev libfontconfig-dev

    - name: Build
      run: cargo build --release --target ${{ matrix.target }}

    - name: Package Binary (Unix)
      if: matrix.os != 'windows-latest'
      run: |
        cd target/${{ matrix.target }}/release
        tar czvf ../../../${{ matrix.asset_name }}.${{ matrix.archive_ext }} seiri-cli
        cd -

    - name: Package Binary (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        cd target/${{ matrix.target }}/release
        7z a ../../../${{ matrix.asset_name }}.${{ matrix.archive_ext }} seiri-cli.exe
        cd -

    - name: Release
      uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
      with:
        draft: ${{ inputs.tag == 'dry-run' && true || false }}
        files: ${{ matrix.asset_name }}.${{ matrix.archive_ext }}
        name: ${{ inputs.tag }}
        tag_name: ${{ inputs.tag }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-crate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@fb51252c7ba57d633bc668f941da052e410add48 # v1.13.0

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libx11-dev libxcursor-dev libxrandr-dev \
                                  libxinerama-dev libxi-dev libgl1-mesa-dev ttf-mscorefonts-installer \
                                  libfreetype6-dev libfontconfig-dev

      - name: Publish to crates.io
        run: |
          cargo publish \
            --token ${{ secrets.CARGO_REGISTRY_TOKEN }} \
            ${{ inputs.tag == 'dry-run' && '--dry-run' }}